<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicto - Competições</title>
</head>
<body>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <li style="color: green; list-style: none;"><b>{{ message }}</b></li>
                {% else %}
                    <li style="color: red; list-style: none;"><b>{{ message }}</b></li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    
    <h1>Competições</h1>

    <a href="{% url 'main:comp-form' %}">
        <button>Organizar uma Competição</button>
    </a>

    <hr>

    <button>Predição</button>
    <button>Simulação</button>

    <table>
        <caption>Competições</caption>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Tipo</th>
                <th>Organizador</th>
                <th>Data início</th>
                <th>Data fim</th>
                <th>Dificuldade</th>
                <th>Oficial</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for comp in competitions %}
            <tr>
                <td>{{ comp.0 }}</td>
                <td>{{ comp.1 }}</td>
                <td>{{ comp.2 }}</td>
                <td>{{ comp.3 }}</td>
                <td>{{ comp.4 }}</td>
                <td>{{ comp.5 }}</td>
                <td>{{ comp.7 }}</td>
                <td>{% if comp.6 == 0 %}Não{% else %}Sim{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>