{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registro de competições</h1>
    <form method="post" action="/api/comp/post-competition/" enctype="multipart/form-data">
        {% csrf_token %}
        <label>
            Título: <input type="text" name="titulo">
        </label>

        <label>
            Descrição: <input type="text" name="descricao">
        </label>

        <label>
            Tipo da competição: 
            <select name="tipo" id="tipo-comp-select">
                <option value="-1">Selecione um tipo</option>
                <option value="0">Predição</option>
                <option value="1">Simulação</option>
            </select>
        </label>

        <label>
            Dificuldade: 
            <select name="dificuldade">
                <option value="0">Muito fácil</option>
                <option value="1">Fácil</option>
                <option value="2">Normal</option>
                <option value="3">Intermediário</option>
                <option value="4">Difícil</option>
            </select>
        </label>

        <label>
            Oficial:
            <select name="oficial" id="oficial-select">
                <option value="-1">Selecione</option>
                <option value="1">Sim</option>
                <option value="0">Não</option>
            </select>
        </label>

        <div id="oficial-form-input" style="display: none">
            <label>
                *Valor Prêmio: <input type="number" name="premiacao">
            </label>

            <label>
                *Patrocinador:
                <select name="patrocinador">
                    <option value="">Selecione o tipo da competição</option>
                </select>
            </label>
        </div>

        <label>
            Data de início: <input type="date" name="data-inicio">
        </label>

        <label>
            Data de término: <input type="date" name="data-termino">
        </label>

        <label>
            Métrica de desempenho: 
            <select name="metrica-desempenho">
                <option value="">Selecione o tipo da competição</option>
            </select>
        </label>

        <div id="pred-form-input" style="display: none">
            <label>
                Dataset treino/teste: 
                <input type="file" accept=".csv" name="dataset-tt">
            </label>

            <label>
                Dataset submissão: 
                <input type="file" accept=".csv" name="dataset-submissao">
            </label>

            <label>
                Dataset gabarito: 
                <input type="file" accept=".csv" name="dataset-gabarito">
            </label>
        </div>

        <div id="simul-form-input" style="display: none">
            <label>
                Ambiente: 
                <input type="file" accept=".py" name="ambiente">
            </label>
        </div>
        
        <button type="submit">Registrar</button>
    </form>
</body>
<script src = "{% static 'comp/responsive_form.js' %}"></script>
</html>