{% extends "base.html" %}
{% load static %}

{% block title %}Competições - Predicto{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/comp.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <div class="page-header">
        <h1>Competições</h1>
        {% if is_organizer %}
            <a href="{% url 'main:comp-form' %}">
                <button>Organizar uma Competição</button>
            </a>
        {% endif %}
    </div>

    <input type="text" class="search-bar" placeholder="Pesquisar competições...">

    <div class="filter-bar">
        <button id="filter-pred">Predição</button>
        <button id="filter-simul">Simulação</button>
        <button id="filter-all">Todas</button>
    </div>

    <div class="card-grid">
        {% for comp in competitions %}
            <a href="{% url 'main:comp-viewer' comp.id %}" 
               class="competition-card" 
               data-title="{{ comp.titulo|lower }}" 
               data-type="{{ comp.tipo|lower }}">
                
                <div class="card-image-placeholder"></div>
                <div class="card-content">
                    <h3 class="card-title">{{ comp.titulo }}</h3>
                    <p class="card-description">{{ comp.descricao }}</p>
                    <p class="card-teams">{{ comp.total_equipes }} Equipes</p>
                    <p class="card-meta">{{ comp.tipo }}</p>
                    
                    <div class="card-footer">
                        <span class="card-prize">
                            {% if comp.flg_oficial == 1 %}
                                R$ {{ comp.premiacao|floatformat:2 }}
                            {% else %}
                                Não oficial
                            {% endif %}
                        </span>
                        <span>
                           {{ comp.status_string }}
                        </span>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/comp_filter_home.js' %}"></script>
{% endblock %}