{% extends "base.html" %}
{% load static %}

{% block title %}{{ titulo }} - Predicto{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
    <h1>{{ titulo }}</h1>
    <br>
    <p>{{ descricao }}</p>
    <p>Organizador: {{ organizador }}</p>
    <p>Dificuldade: {{ dificuldade }}</p>
    <p>Competidores ativos: {{ n_comp }}</p>
    <p>Equipes registradas: {{ n_equipes }}</p>
    <p>Data de início: {{ data_inicio|date:"d M Y" }}</p>
    <p>Data término: {{ data_fim|date:"d M Y" }}</p>
    <p>Métrica desempenho usada: {{ metrica_desempenho }}</p>
    {% if flg_oficial == 1 %}
        <p>Prêmio: R$ {{ premiacao|floatformat:2 }}</p>
    {% endif %}

    <hr>
    
    <a href="{% url 'main:create-team' compid %}">
        <button>Inscrever Equipe</button>
    </a>
    
    <hr>
    
    <button onclick="window.location.href='/api/comp/download-competition-file/{{ compid }}/0/'">Baixar Dataset Treino/Teste</button>
    <button onclick="window.location.href='/api/comp/download-competition-file/{{ compid }}/1/'">Baixar Dataset Submissão</button>
{% endblock %}