{% load static %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    <div class="home-container">
        
        <div class="header">
            <h2>Bem-vindo(a), {{ user_name }}!</h2>
            
            <a href="{% url 'main:logout' %}">
                <button type="button" class="btn-secondary">Logout</button>
            </a>
        </div>

        <h1>Página inicial</h1>
        
        <a href="{% url 'main:comp' %}"><button>Competições</button></a>
        <a href="{% url 'main:user-profile' %}"><button>Perfil</button></a>
        <a href="{% url 'main:ranking' %}"><button>Ranking</button></a>
    </div>

</body>
</html>